<li id="post-<%=post._id%>" class="posts rounded p-3 mb-5 bg-secondary text-white" >
    <p> 
       <% if((locals.user) && (locals.user.id==post.user.id)){ 
           %>
        <small>

            <a    class="delete-post-button" href="post/destroy/<%=post.id%>">delte</a>
           
        </small>
        <%}%>
<%if(locals.user){%>
     
        <a  class="like_button" href="likes/toggle/?id=<%=post.id%>&&type=Post">Like</a>
    
        <%}%>
     <%=post.content%> <br>
     <small>
    
       By:<%=post.user.name%>&nbsp;&nbsp;&nbsp;&nbsp;
     </small>
     <%if(post.likes){%>
        <small id="total_likes-<%=post.id%>"><%=post.likes.length%> Likes</small>
        <%}%> 

     

     
    </p>
    <div class="post-comments">
        <% if (locals.user){ %>
        <form action="/comment/add" method="POST" class="w-50" id="post-<%= post._id %>-comments-form" data="<%=post.id%>">
          


            <div class="form-group ">
                <input type="Text" name="comment" class="form-control"  placeholder="Type something"  required>
              </div>
              
              


            <input type="hidden" name="post" value="<%=post._id%>">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <%
    }%>
      
    <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
           <% for(comment of post.comments){%>
          
            <%- include('_comment'); %>
        
        <%}%>
    </ul>
       </div>
       </div>
    </li>
   <script src="<%= assetPath('js/likes.js')%>"   ></script>
  
  
