<head>
    <style>
      footer{
      width: 100%;
    padding: 0%;
    position: absolute;
    bottom: 0%;
      margin: 0px;
    }
    </style>
  </head>
<link type="stylesheet" href="/css/layout.css" rel="stylesheet">
<img src="../../<%= user.avatar %>" alt="<%=user_pro.name%>" width=100>

<p><%=user.avatar%></p>
<%if(user.id==user_pro.id)
{
    %>
    
    <form action="../update/<%=user_pro.id%>" enctype="multipart/form-data" method="POST">
<input type="text"  name="name" required>
<input type="email"  name="email" required>
<input type="file" name="avatar" placeholder="profile picture">
<button type="submit">update</button>
</form>
<%}
else{%>
<p><%=user_pro.name%></p>
<p><%= user_pro.email%></p>
<%}%>